.animatedGradient {
  background-size: 200% 100%;
  animation: gradient-move 4s ease-in-out infinite;
}

@keyframes gradient-move {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.preTitleText {
  font-size: clamp(0.8rem, 3vw, 8rem);
  @media (width >= 48rem /* 768px */) {
    font-size: clamp(0.8rem, 1.5vw, 8rem);
  }
}
.titleH1Text {
  font-size: clamp(1.6rem, 5.9vw, 16rem);
  @media (width >= 48rem /* 768px */) {
    font-size: clamp(1.6rem, 3vw, 16rem);
  }
}

.subTitleH2Text {
  font-size: clamp(1.33rem, 4.9vw, 13.2rem);
  @media (width >= 48rem /* 768px */) {
    font-size: clamp(1.33rem, 2.5vw, 13.2rem);
  }
}

.bannerContent {
  /* max-width: calc(var(--spacing) * 256); */
  font-size: clamp(1rem, 3vw, 13.2rem);
  @media (width >= 48rem /* 768px */) {
    font-size: clamp(1rem, 2.4vw, 3.5rem);
  }
}

.bannerButton {
  font-size: clamp(1rem, 3vw, 13.2rem);
  padding: clamp(1rem, 3vw, 13.2rem);
  width: min-content;
  border-radius: 10rem;
  @media (width >= 48rem /* 768px */) {
    font-size: clamp(1rem, 2vw, 3.5rem);
    padding: clamp(1rem, 2.4vw, 3.5rem);
  }
}

.pentemindImage {
  max-width: 60rem;
}

.heroStat1 {
  translate: 50px 0;
}
.heroStat2 {
  translate: -10px 0;
}
.heroStat3 {
  translate: -4px 0;
}
.heroStat4 {
  translate: 80px 0;
}
