.animatedGradient {
  background-size: 200% 100%;
  animation: gradient-move 4s ease-in-out infinite;
}

@keyframes gradient-move {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.preTitleText {
  font-size: clamp(0.8rem, 3vw, 8rem);
  @media (width >= 48rem /* 768px */) {
    font-size: clamp(0.8rem, 1.5vw, 8rem);
  }
}
.titleH1Text {
  font-size: clamp(1.6rem, 5.9vw, 16rem);
  @media (width >= 48rem /* 768px */) {
    font-size: clamp(1.6rem, 3vw, 16rem);
  }
}

.subTitleH2Text {
  font-size: clamp(1.33rem, 4.9vw, 13.2rem);
  @media (width >= 48rem /* 768px */) {
    font-size: clamp(1.33rem, 2.5vw, 13.2rem);
  }
}
.bannerContainer {
  @media (width >= 48rem /* 768px */) {
    padding-top: clamp(6rem, 8vw, 12rem);
  }
}

.bannerTextContainer {
  gap: clamp(2rem, 1vw, 10rem);
}

.bannerContent {
  font-size: clamp(1rem, 3vw, 13.2rem);
  width: clamp(19rem, 69vw, 200rem);
  @media (width >= 48rem /* 768px */) {
    font-size: clamp(1rem, 2.4vw, 3.7rem);
    width: clamp(19rem, 35vw, 200rem);
  }
}

.bannerImage {
  --image-size: clamp(15rem, 60vw, 100rem);

  @media (width >= 48rem /* 768px */) {
    --image-size: clamp(18rem, 30vw, 100rem);
  }
  width: var(--image-size);
  height: var(--image-size);
}

.bannerStatHeading {
  font-size: clamp(1rem, 2vw, 10rem);

  @media (width >= 48rem /* 768px */) {
    font-size: clamp(1rem, 1vw, 10rem);
  }
}

.bannerStatContent {
  font-size: clamp(0.7rem, 2vw, 10rem);
  @media (width >= 48rem /* 768px */) {
    font-size: clamp(0.7rem, 0.7vw, 10rem);
  }
}

.bannerButton {
  font-size: clamp(1rem, 3vw, 13.2rem);
  padding: clamp(1rem, 3vw, 13.2rem);
  width: min-content;
  border-radius: 10rem;
  @media (width >= 48rem /* 768px */) {
    font-size: clamp(1rem, 1.5vw, 3.5rem);
    padding: clamp(1rem, 1.5vw, 3.5rem);
  }
}

.pentemindImage {
  max-width: 60rem;
}

.bannerStat1 {
  translate: clamp(1.8rem, 3.9vw, 5rem);
}
.bannerStat2 {
  translate: clamp(-10rem, -0.5vw, 5rem);
}
.bannerStat3 {
  translate: clamp(-10rem, -0.1vw, 5rem);
}
.bannerStat4 {
  translate: clamp(3.1rem, 5vw, 10rem);
}
