.buttonGroup {
  &::after {
    content: "";
    position: absolute;
    height: 100%;

    /* Transitioning the pseudo element from one button to the other */
    left: anchor(left);
    right: anchor(right);
    position-anchor: --hovered-button;
  }

  input {
    cursor: pointer;
  }
}

.anchorName {
  anchor-name: --hovered-button;
}

.activeText {
  color: #612595ff;
}
