.buttonGroup {
  &::after {
    content: "";
    position: absolute;
    height: 100%;

    /* Transitioning the pseudo element from one button to the other */
    left: anchor(left);
    right: anchor(right);
    position-anchor: --hovered-button;
  }

  /*  Only apply anchor to checked item if the user is NOT interacting with the group  */
  /* &:not(:hover) { */
  /*   input { */
  /*     &:checked { */
  /*       anchor-name: --hovered-button; */
  /*     } */
  /*   } */
  /* } */

  input {
    cursor: pointer;
    /* &:hover { */
    /*   anchor-name: --hovered-button; */
    /* } */

    &:checked {
      anchor-name: --hovered-button;
    }
  }
}

.anchorName {
  anchor-name: --hovered-button;
}
